

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
}
@font-face{
    font-family: "Shrikhand";
    src: url(Fonts/Shrikhand/Shrikhand-Regular.ttf);
}
body{ 
    font-family: "Roboto";
}
h1{
    
}
h3{
    text-decoration: underline solid 2px turquoise;
}

.heading__logo{
    width: 50%;
}
.heading__image{
    width: 100%;
}
.fa-heart{
    color:white;
}
.fa-heart:hover{
    color: #9356DC;
    cursor: pointer;
}

.menu{
    background-color: #eeeeee;
    border-radius: 35px 35px 0px 0px;
    top: -50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__title{
    font-family: "Shrikhand";
    font-size: 30px;
    padding-top: 25px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.menu__course{
    font-family: "Roboto-Thin";
    font-variant-caps: small-caps;
    font-size: 20px;
    width: 95%;
}
.menu__card{
    background-color: white;
    border-radius: 10px;
    box-shadow: darkgray;
    margin: 10px;
    width: 95%;
}
.menu__card__dish{
    padding: 10px 10px 5px 10px;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
}
.menu__card__desc{
    font-family: "Roboto-Thin";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.menu__card__price{
    margin: 0px;
    font-family: "Roboto";
}



.orderbutton{
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px lightgray;
    padding: 15px;
    margin: 20px;
    width: 130px;
    background: #FF79DA;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.orderbutton:hover{
    cursor: pointer;
}


footer{
    background-color: #444444;
}
.Footer__logo{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 30px 0px 30px;
    padding-top: 30px;
}
.Footer__links{
    color: white;
    padding-bottom: 25px;
}
ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    line-height: 35px;
}