
body{ 
    font-family: "Roboto";
}
@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(Fonts/Roboto/Roboto-Thin.ttf);
}
@font-face{
    font-family: "Shrikhand";
    src: url(Fonts/Shrikhand/Shrikhand-Regular.ttf);
}

img{
    width: 100%;
}
h1{
    font-weight: bolder;
}
.fas{
    margin: 18px;
    color: gray;  
    font-size: 18px;
    
}
.fas:hover{
    color: #9356DC;
}
.fa-map-marker-alt{
    color: black;
    font-size: 17px;
}
.location{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    height: 35px;
    border-top: rgb(196, 196, 196) 3px solid;
}
.heading__logo{
    font-family: "Shrikhand";
    text-align: center;
    margin-bottom: 5px;
}
.heading__location{
    display: flex;
    align-items: center;
}

.Intro{
    text-align: center;
    background-color: #eeeeee;
    height: 250px;
    width: 100%;
}
.Intro__heading{
    font-weight: 250px;
    padding: 35px;
    margin: 0px;
}
.Intro__button{
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 5px lightgray;
    padding: 15px;
    background: #FF79DA;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.Intro__caption{
    font-family: "Roboto-Thin";
}

.HowWorks{
    margin-top: 50px;
    margin-bottom: 25px;
}
.HowWorks__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HowWorks__numbers{
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
    width: 20px;
    padding: 3px 0px 3px 8px;
    margin-left: -33px;
    margin-top: 15px;
}
.HowWorks__card{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #eeeeee;
    font-size: 17px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    border-color: #eeeeee;
    box-shadow: 1px 1px 1px lightgray;
    width: 90%;
    text-align: left;
    align-self: center;
    /*height: 70px;*/
}

.HowWorks__card:hover{
    background-color: #9256dc13;
}
.HowWorks__text{
    padding: 15px 0px 15px 0px;
    justify-items: center;
}


.Rest{
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Rest__heading{
    width: 100%;
    margin: 25px 0px 5px 0px;
}
.Rest__card{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    margin: 25px 5px 25px 5px;
    box-shadow: 2px 2px 5px lightgray;
    width: 95%;
    /*height: 275px;
    max-width: 350px;*/
}
.Rest__card__img{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/8;
    /*max-height: 200px;
    max-width: 350px;*/
}
.Rest__card__name{
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: 19px;
}
.Rest__card__location{
    padding-left: 15px;
    margin-top: 4px;
    font-family: "Roboto-Thin";
    font-size: 17px;
}


footer{
    background-color: #444444;
}
.Footer__logo{
    font-family: "Shrikhand";
    color: white;
    margin: 0px 30px 0px 30px;
    padding-top: 30px;
}
.Footer__links{
    color: white;
    padding-bottom: 25px;
}
.Footer__icon{
    color: white;
    font-size: 18px;
    margin: -10px;
}
.fa-utensils{
    color: white;
    width: 10px;
    font-size: 16px;
}
.fa-hands-helping{
    color: white;
    width: 10px;
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    line-height: 35px;
}
